body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #101010;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #101010;
    margin-top: -100px;
}

.logo img {
    width: 900px; 
    height: auto; 
    margin-top: 50px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px #101010;
    font-size: 35px;
}

.welcome {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 50px;
    margin-top: -150px;
    line-height: 1.6;
    background-color: #101010;
}

.welcome p {
    margin: 0;
    max-width: 800px;
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;
}

.team {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding: 0px;
    background-color: #101010;
}

.team .member {
    margin: 0 -70px;
    text-align: center;
}

.team .member img {
    margin-top: -80px;
    width: 400px;
    height: 200x;
    border-radius: 5%;
    object-fit: cover;
    
}

.team .member h3 {
    margin-top: -80px;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 100px 100px 150px #101010;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
